<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Newsletter Ensembl' [DEV]</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="
      margin: 0 auto;
      padding: 0;
      width: 600px;
      margin-top: 20px;
      font-family: 'Work Sans', sans-serif;
    "
  >
    <table cellpadding="0" cellspacing="0">
      <tr>
        <td style="margin: auto; text-align: center">
          <img
            width="200px"
            style="margin-bottom: 20px"
            src="https://media.ensembl.fr/original/email/trigger-ensembl-new-demand/logo_ensembl.png"
          />
        </td>
      </tr>
      <tr>
        <td>
          <table style="width: 100%" cellpadding="0" cellspacing="0">
            <tr>
              <td
                style="width: 100%; height: 182px; text-align: center"
                background="https://media.ensembl.fr/original/email/trigger-ensembl-new-demand/backgrounds/{{Category}}.png"
              >
                <h1
                  style="
                    color: white;
                    margin-top: 0px;
                    margin-bottom: 40px;
                    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
                  "
                >
                  Un voisin a besoin de vous !
                </h1>
              </td>
            </tr>
            <tr>
              <td
                style="text-align: center; padding: 20px 80px"
                background="https://media.ensembl.fr/original/email/trigger-ensembl-new-demand/content_bg_600.png"
              >
                <h2 style="margin: 0px; color: #f19101">
                  {{FirstName}}, {{Age}} ans
                </h2>
                <span style="margin: 0px"> a besoin de votre aide pour </span>
                {{#if `Category == "category.solidarity.homework_help"`}}
                <span> <b>de l'aide aux devoirs</b> </span>
                {{/if}} {{#if `Category == "category.solidarity.pet_sitting"`}}
                <span> <b>de la garde d'animaux</b> </span>
                {{/if}} {{#if `Category ==
                "category.solidarity.administrative"`}}
                <span> <b>de l'aide administrative</b> </span>
                {{/if}} {{#if `Category ==
                "category.solidarity.mail_collection"`}}
                <span> <b>de l'aide en cas d'absence</b> </span>
                {{/if}} {{#if `Category == "category.solidarity.diy"`}}
                <span> <b>des petits travaux</b> </span>
                {{/if}} {{#if `Category == "category.solidarity.discuss"`}}
                <span> <b>une visite de courtoisie</b> </span>
                {{/if}} {{#if `Category == "category.solidarity.groceries"`}}
                <span> <b>de l'aide aux courses</b> </span>
                {{/if}} {{#if `Category == "category.solidarity.walk"`}}
                <span> <b>de l'accompagnement</b> </span>
                {{/if}} {{#if `Category == "category.solidarity.other"`}}
                <span> <b>de l'aide</b> </span>
                {{/if}}
                <span>dans le quartier de <b>{{DistrictName}}</b>.</span>
                <p><b>Êtes-vous disponible pour lui venir en aide ?</b></p>
                <a href="`{{CardUrl}}`">
                  <button
                    style="
                      background-color: #f19101;
                      border: none;
                      padding: 15px 30px;
                      color: white;
                      font-size: 20px;
                      font-family: 'Work Sans', sans-serif;
                      font-weight: bold;
                      margin-top: 20px;
                      cursor: pointer;
                    "
                  >
                    VOIR LA DEMANDE
                  </button>
                </a>
              </td>
            </tr>
            <tr>
              <td
                style="height: 33px"
                background="https://media.ensembl.fr/original/email/trigger-ensembl-new-demand/content_bottom_600.png"
              ></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <!-- A TRES VITE SUR LE RESEAU ENSEMBL' -->
          <table
            style="
              width: 100%;
              text-align: center;
              margin-top: 30px;
              margin-bottom: 16px;
              font-family: 'Work Sans', sans-serif;
            "
          >
            <tr>
              <td>
                <h2>A très vite sur le réseau Ensembl' !</h2>
              </td>
            </tr>
          </table>
          <table
            style="
              font-family: 'Work Sans', sans-serif;
              width: 100%;
              text-align: center;
            "
          >
            <tr>
              <td>
                <a
                  target="_blank"
                  rel="noreferrer"
                  href="{{BaseUrl}}?t={{RecipientToken}}"
                  style="text-decoration: none"
                >
                  <img
                    src="https://media.ensembl.fr/original/email/nl-v4/sn_icons/website.png"
                    width="52px"
                  />
                </a>
              </td>
              <td>
                <a
                  target="_blank"
                  rel="noreferrer"
                  href="https://www.linkedin.com/company/ensemblfr"
                  style="text-decoration: none"
                >
                  <img
                    src="https://media.ensembl.fr/original/email/nl-v4/sn_icons/linkedin.png"
                    width="52px"
                  />
                </a>
              </td>
              <td>
                <a
                  target="_blank"
                  rel="noreferrer"
                  href="https://www.facebook.com/ensemblfr"
                  style="text-decoration: none"
                >
                  <img
                    src="https://media.ensembl.fr/original/email/nl-v4/sn_icons/facebook.png"
                    width="52px"
                  />
                </a>
              </td>
              <td>
                <a
                  target="_blank"
                  rel="noreferrer"
                  href="https://www.instagram.com/ensembl.fr"
                  style="text-decoration: none"
                >
                  <img
                    src="https://media.ensembl.fr/original/email/nl-v4/sn_icons/instagram.png"
                    width="52px"
                  />
                </a>
              </td>
              <td>
                <a
                  target="_blank"
                  rel="noreferrer"
                  href="https://twitter.com/ensemblfr"
                  style="text-decoration: none"
                >
                  <img
                    src="https://media.ensembl.fr/original/email/nl-v4/sn_icons/twitter.png"
                    width="52px"
                  />
                </a>
              </td>
            </tr>
          </table>
          <!-- /A TRES VITE SUR LE RESEAU ENSEMBL' -->
        </td>
      </tr>
      <tr>
        <td>
          <table style="text-align: center; margin: 20px auto">
            <tr>
              <td style="text-align: center">
                <a href="#" style="text-decoration: none; margin: 0px 20px">
                  <img
                    src="https://media.ensembl.fr/original/email/trigger-ensembl-new-demand/bouton_android.png"
                  />
                </a>
                <a href="#" style="text-decoration: none; margin: 0px 20px">
                  <img
                    src="https://media.ensembl.fr/original/email/trigger-ensembl-new-demand/bouton_apple.png"
                  />
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <!-- FOOTER -->
          <table
            style="
              font-family: 'Work Sans', sans-serif;
              width: 100%;
              text-align: center;
              color: #747474;
              font-size: 12px;
              text-transform: uppercase;
            "
          >
            <tr>
              <td>
                <p style="font-weight: 700">
                  Nous vous adressons cet email pour vous informer des dernières
                  publications, des nouveaux voisins et des nouveaux événements
                  de votre quartier sur
                  <a
                    target="_blank"
                    rel="noreferrer"
                    href="{{BaseUrl}}?t={{RecipientToken}}"
                    >ensembl.fr</a
                  >
                </p>
                <p style="font-weight: 700">
                  Vous ne souhaitez pas recevoir d'emails ? Vous pouvez vous
                  <a
                    target="_blank"
                    rel="noreferrer"
                    href="{{BaseUrl}}/mon-profil/settings?t={{RecipientToken}}"
                    >désinscrire</a
                  >.
                </p>
                <br />
                <span style="font-family: 400">
                  <b
                    >Copyright © 2021 Le Résidentiel Numérique, Tous droits
                    réservés.</b
                  ><br />
                  <i
                    >Le Résidentiel Numérique 168-170, rue Victor Hugo
                    Levallois-Perret 92300 France</i
                  >
                </span>
              </td>
            </tr>
          </table>
          <!-- /FOOTER -->
        </td>
      </tr>
    </table>
  </body>
</html>
